@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
  min-height: 10vh;
}
.main-content{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.footer{
  min-height: 10vh;
}
/* Hide the spinner in Chrome, Safari, and Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

